/* TABLET */

@media (max-width: 1190px) {
  .flex {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo{
    min-width: 150px;
  }

  .btn-intro span{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
  }

  .btn-intro{
    gap: 7px;
    width: 30%;
    padding: 13px 10px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    transition: .4s;
    border-radius: 0.19rem;
  }

}

@media (min-width: 720px) and (max-width: 900px) {
  .btn-intro{
    width: 35%;
  }

  .nav-menu li a{
    font-size: 1.4rem;
  }

  .people-img {
    display: none;
  }

}

/* MOBILE */

@media (max-width: 720px) {

  .grid {
    padding: 0 10px;
  }

  .gridModal{
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .modalBtn{
    display: flex;
    justify-content: center;
  }

  .logo{
    display: grid;
    justify-content: center;
    margin-left: 10px;
  }

  .flex {
    width: (90%, 300px);
    grid-template-columns: 1fr;
  }

  .people-img {
    display: none;
  }

  .text-introduction h1 {
    font-size: 3.6rem;
  }

  .btn-intro {
    padding: 15px;
  }

  .nav {
    padding: 15px 0;
  }

  .nav ul{
    display: none;
  }

  .nav-menu li a {
    font-size: 1.2rem;
  }

  .form {
    width: 300px;
  }

  .form {
    width: min(90vw, 300px);
  }

  .form form{
    width: min(90vw, 300px);
  }

  .btn-intro{
    gap: 0.7rem;
    width: 35%;
  }
}



/* TABLET */
